# Arquivos de configuração
config.py

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
env/
.env

# Arquivos de log
*.log

# Arquivos de modelo salvos
*.joblib

# Notebooks Jupyter
.ipynb_checkpoints

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
